html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.skin-blue .main-header .navbar {
    background-color:#690100 !important;
}

.alert{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.skin-blue .main-header .logo {
    background-color: #560100;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.main-sidebar{
    background-color: #1d0909cf;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
    color: white;
}

.sidebar-menu li>a {
    position: relative;
    color: white;
}

.main-header .sidebar-toggle{
    color: white;
}

.sidebar-menu>li.header{
    background-color: #310e0edb;
}

.content-wrapper{
    background-color: #e8e8e8;
}

.box.box-info {
    border-top-color: #660200;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}